body {
    font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.step-indicator-circle {
    width: 2rem;
    height: 2rem;
}

.lyric-item.active {
    background-color: #0d6efd;
    color: white;
}

.image-preview-item {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.progress-bar {
    transition: width 0.1s linear;
}

#generateBtn.btn-processing {
    cursor: not-allowed;
}